<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberOfUsers" value="20"/>
    <add key="TimePeriod" value="20"/>
  </appSettings>
  <connectionStrings>
    <add name="LandingPage" connectionString="https://marketplace.reebonz-dev.com/en"/>
  </connectionStrings>
</configuration>